PB1/mammo.data
PB1/.Rhistory
PB1/Plot/*

PB4/010022153.pdf
PB4/res_varclus.rtf
PB4/Plot/*
PB4/viruses.dat
PB4/Viruses.pdf
PB4/.Rhistory

PB2/canonique.pptx.pdf
PB2/water-treatment.data
PB2/.Rhistory
PB2/water-treatment.names

Rapport.aux
Rapport.log
Rapport.pdf
Rapport.synctex.gz



